html {
    background-color: #FEE2D7;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select {
    display: flex;
    flex-direction: column;
    
}

#stozek.card {
    display: none;
}

#walec.card {
    display: none;
}

#kula.card {
    display: none;
}

.oblicz {
    display: none;
}



